@{
    ViewBag.Title = "Xplore";
}

<div class="jumbotron">
    <h1>Xplore</h1>
    <p class="lead">Xplore is a simple web app that explores local listings on Google Places utilitzing HTML5 Geolocation.</p>
    <p>@Html.ActionLink("Xplore now »", "Index", "Listings", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>